/*
* This is a manifest file that includes stylesheets for spree_frontend
 *= require spree/frontend/frontend_bootstrap
 *= require_self
*/

#spree-header {
background-color : black;
}

#spree-header #logo {
    margin-bottom: 10px;
    position: relative;
    left: 30%;
}
